
/*
? Цвета:
    header: #313131 (серый)
    bgc: #f1f3f9 (серо-синий)
    Акцент/hover кнопки: #ff6c00 (оранжевый) 
    кнопка active: #e25e00 (оранжевый темнее)
    Шрифт: #7d7f9e (серо-фиолетовый)
    доп инфа: #bfccde (светло-серый)
    Кнопки / тайтл: #4065e4 (синий)
? Шрифт:
    DESKTOP: 
        h1: 42px+
        h2: 38px
        h3: 25px
        body text: ~18px
        nav links: ~16px
        inputs: ~18px
        secondary text: ~16px
    MOBILE: 
        -2 from all above
*/

@font-face {
    font-family: 'DIN Condensed';
    src: url('/fonts/DINCondensed-Light.eot');
    src: local('DIN Condensed Light'), local('DINCondensed-Light'),
        url('/fonts/DINCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/DINCondensed-Light.woff2') format('woff2'),
        url('/fonts/DINCondensed-Light.woff') format('woff'),
        url('/fonts/DINCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Condensed';
    src: url('/fonts/DINCondensed-Regular.eot');
    src: local('DIN Condensed'), local('DINCondensed-Regular'),
        url('/fonts/DINCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/DINCondensed-Regular.woff2') format('woff2'),
        url('/fonts/DINCondensed-Regular.woff') format('woff'),
        url('/fonts/DINCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    font-family: 'DIN Condensed';
    font-size: 16px;
    color: #5a5b72;
}

*,
*::before, 
*::after {
    box-sizing: border-box;
    border: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px 5px;
    background-color: #f1f3f9;
}

/*
    * MOBILE
*/
@media (min-width: 320px) {

    /*fonts*/
    h1 {
        font-size: 2.625rem;
    }
    h2{
        font-size: 2.375rem;
    }
    h3 {
        font-size: 1.563rem;
    }
    p {
        font-size: 1.125rem;
    }
    nav, button {
        font-size: 1rem;
    } 
    input {
        font-size: 1.125rem;
    }

    /*header*/

    .header {
        width: 100%;
        height: 60px;
        padding: 0 15px;

        background-color: #313131;
        border-radius: 1.8rem;
        
        position: relative;
        z-index: 10;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        text-decoration: none;
    }

    .header__logo {
        padding: 0 15px;
    }

    .header__logo-text {
        color: #fff;
        font-size: 1.2rem;
    }

    .menu__icon {
        padding: 0 15px;

        background: none;
        border: none;
        cursor: pointer;
    }

    .header__menu-button-img {
        height: 10px;
        width: 20px;
    }

    .header__logo-github {
        display: none;
    }

    /*noScroll*/

    .noScroll {
        overflow: hidden;
    }

    /* menu*/

    .menu {
        padding: 0 15px;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        top: 75px;
        z-index: 1;
        opacity: 100;
    }

    #menu__toggle:checked ~ .menu__box:before {
        visibility: visible;
    }

    .header__menu-button-img {
        width: 20px;
        height: 10px;

    }
    
    .menu__btn {
        cursor: pointer;
        z-index: 1;
    }

    .menu__box {
        width: calc(100% - 10px);
        padding: 20px 0;

        display: block;
        position: fixed;
        visibility: hidden;
        top: 80px;
        right: 5px;
        z-index: 1;

        border-radius: 1.8rem;

        background-color: #313131;
        opacity: 0;

        list-style: none;

        transition-duration: .25s;
    }

    .menu__item {
        display: block;

        color: #fff;
        font-weight: 400;
        text-align: center;

        text-decoration: none;

        transition-duration: .25s;
    }

    .menu__item:hover {
        color: #ff6c00;
    }

    .menu__item:active {
        color: #e25e00;
    }

    /*main*/

    .main {
        max-width: 420px;
        margin: 10px auto;
        padding: 10px;

        background-color: #fff;
        border-radius: 1.8rem;
    }

    .main > h1 {
        text-align: center;
    }

    /*alpaca*/

    .alpaca {
        margin: 20px 0;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .alpaca__container-img {
        height: 100%;
        min-height: 290px;

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .alpaca__img {
        width: auto;
        height: 100%;
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .alpaca__img--background {
        z-index: 0;
    }

    .alpaca__img--neck,
    .alpaca__img--leg {
        z-index: 1;
    }

    .alpaca__img--ears,
    .alpaca__img--nose,
    .alpaca__img--mouth {
        z-index: 2;
    }

    .alpaca__img--hair,
    .alpaca__img--eyes {
        z-index: 3;
    }

    .alpaca__img--acessories {
        z-index: 4;
    }

    /*alpaca__buttons*/

    .alpaca__buttons {
        position: relative;

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px
    }

    .button {
        width: 130px;
        padding: 1.05em 1.4em 0.95em;
        margin: 25px 0;
    
        font-family: inherit;
        line-height: 1.15;
        color: #4065e4;
        text-transform: uppercase;
        font-weight: 400;
    
        background-color: #fff;
        border: 2px solid #4065e4;
        transition: all 200ms ease 0s;
    
        cursor: pointer;
    }
    
    .button:hover {
        background-color: #ff6c00;
        color: #fff;
    }
    
    .button:active {
        background-color: #e25e00;
        color: #fff;
        font-weight: 400;
    }

    /*alpaca__configurator*/

    .alpaca__configurator-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .alpaca__configurator-elements-container {
        width: 100%;
        max-width: 410px;
        margin: 0 0 20px;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 5px;
    }

    .button-config {
        padding: 10px 15px;

        background-color: #fff;
        border: 2px solid #4066e49f;
        border-radius: 1.4rem;

        color: #4066e49f;
    }

    /* .button-config:hover {
        background-color: #fff;
        border: 2px solid #4065e4;

        transition: all 200ms ease 0s;

        color: #4065e4;
    } */

    /* .button-config:active {
        background-color: #4065e4;
        border: 2px solid #4065e4;

        transition: all 200ms ease 0s;

        color: #fff;
    } */

    .alpaca__configurator-title {
        margin: 0 0 10px;
    }

    .alpaca__configurator-style {
        width: 100%;
        max-width: 410px;
        margin: 0 0 20px;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 5px;
    }

    /*alpaca__configurator-style-background*/

    .alpaca__configurator-style-background {
        width: 40px;
        height: 40px;
        border-radius: 1.4rem;
    }

    .alpaca__configurator-style-background--blue50 {
        background: url("../img/background/blue50.png") #f1f3f9 ;
    }

    .alpaca__configurator-style-background--blue60 {
        background: url("../img/background/blue60.png") #f1f3f9 ;
    }
    
    .alpaca__configurator-style-background--blue70 {
        background: url("../img/background/blue70.png") #f1f3f9;
    }
    
    .alpaca__configurator-style-background--darkblue30 {
        background: url("../img/background/darkblue30.png") #f1f3f9;
    }
    
    .alpaca__configurator-style-background--darkblue50 {
        background: url("../img/background/darkblue50.png") #f1f3f9;
    }
    
    .alpaca__configurator-style-background--darkblue70 {
        background: url("../img/background/darkblue70.png") #f1f3f9;
    }
    
    .alpaca__configurator-style-background--green50 {
        background: url("../img/background/green50.png") #f1f3f9;
    }
    
    .alpaca__configurator-style-background--green60 {
        background: url("../img/background/green60.png") #f1f3f9;
    }
    
    .alpaca__configurator-style-background--green70 {
        background: url("../img/background/green70.png") #f1f3f9;
    }
    
    .alpaca__configurator-style-background--grey40 {
        background: url("../img/background/grey40.png") #f1f3f9;
    }
    
    .alpaca__configurator-style-background--grey70 {
        background: url("../img/background/grey70.png") #f1f3f9;
    }
    
    .alpaca__configurator-style-background--grey80 {
        background: url("../img/background/grey80.png") #f1f3f9;
    }
    
    .alpaca__configurator-style-background--red50 {
        background: url("../img/background/red50.png") #f1f3f9;
    }
    
    .alpaca__configurator-style-background--red60 {
        background: url("../img/background/red60.png") #f1f3f9;
    }
    
    .alpaca__configurator-style-background--red70 {
        background: url("../img/background/red70.png") #f1f3f9;
    }
    
    .alpaca__configurator-style-background--yellow50 {
        background: url("../img/background/yellow50.png") #f1f3f9;
    }
    
    .alpaca__configurator-style-background--yellow60 {
        background: url("../img/background/yellow60.png") #f1f3f9;
    }
    
    .alpaca__configurator-style-background--yellow70 {
        background: url("../img/background/yellow70.png") #f1f3f9;
    }
    
    
    
    /*hidden*/

    .hidden {
        display: none;
    }

    .button--active {
        background-color: #4065e4; 
        border: 2px solid #4065e4;

        color: #fff;
    }

    .button-style--active {
        background-color: #4065e4; 
        border: 2px solid #4065e4;
        

        color: #fff;
    }

}

@media (min-width: 480px) {
    /* Мне вроде и так нравится */
}


/*
    * TABLET
*/
@media (min-width: 768px) {
    
    /*header*/
    .header {
        width: 758px;
        margin: auto;
    }

    /* menu*/

    .menu {
        display: none;
    }

    /*header*/

    .header__logo-github {
        display: block;
        padding: 0 15px;
    }

    /*main*/

    .main {
        max-width: 758px;
        padding: 25px;
        margin-top: 25px;
    }

    /*alpaca*/

    .alpaca {
        margin: 20px 0;
        position: relative;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
    }

    .alpaca__configurator-container {
        align-items: flex-start;
    }

    .alpaca__configurator-elements-container {
        justify-content: flex-start;
    }

    .alpaca__configurator-style {
        justify-content: flex-start;
    }

        
}

@media (min-width: 1024px) {
    
}

/*
    * DESKTOP
*/
@media (min-width: 1280px) {



}

@media (min-width: 1920px) {
    
}


